
.home-page {
  
  @media (min-width: 700px) {
    header {
      height: 100px;
      margin-bottom: 10px;
      span {
        font-size: 56px;
      }
      img {
        width: 100px;
      }
    }

    main {
      height: calc(100% - 110px);
    }
  }

  %home {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-flow: column nowrap;
    margin: auto;
  }

  .public-home {
    @extend %home;
    max-width: 800px;
    justify-content: space-evenly;
    align-items: center;

    .title {
      color: var(--color3);
      font-family: var(--font-primary);
      text-align: center;
    }

    .btn-box {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      & > .row{
        margin-bottom: 10px;
        text-align: center
      }
    }
  }

  .login-home,
  .signup-home,
  .forgot-home,
  .reset-home {
    @extend %home;
    align-items: center;
    justify-content: center;

    .authe-form {
      width: 85vw;
      background-color: var(--color1-shade1);
      padding: 20px 30px;
      border-radius: 10px;

      @media (min-width: 500px){
        
        max-width: 450px;

      }

        .submit-btn {
          padding: 10px 12px;
          width: 100%;
          margin-bottom: 20px;
          border-radius: 5px;
        }

        .remember-me {
          margin-bottom: 20px;
          text-align: center;
        }
      
      
      .other-link {
        border-top: 1px dashed var(--color3);
        padding-top: 20px;
        width: 100%;
        text-align: center;
      }
    
      .other-link > * {
        font-size: 14px;
        display: block;
        color: var(--color3);
        width: fit-content;
        margin: auto;
        margin-bottom: 10px;
        padding: 7px;

        @media (min-width: 500px){
          font-size: 16px;
        }
      }
    
    }
  }

  .reset-home{
    & .reset-status{
      max-width: 800px;
      margin: auto;
      text-align: center;
      & > *{
        margin-bottom: 20px;
      }
    }
  }

  .user-home {
    @extend %home;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      height: 100%;
      text-align: center;
      @media (min-width: 700px){
        flex-flow: row nowrap;
        & .item2{
          order: -1;
        }
      }

    & .item{
      color: var(--color3);
      flex-basis: 350px;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 10px;
      & div > button,
      & div > .link-btn{
        margin: 5px;
      }
    }

    & .game-history{
      position: relative;
      height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    border: 2px solid var(--color3);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
      & .title{
        height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: var(--color1);
      }

      & .history{
        position: absolute;
        width: 100%;
        max-height: calc(100% - 35px);
        overflow: auto;
        left: 50%;
        top: calc(50% + -17.5px);
        transform: translate(-50%, calc(-50% + 35px));
         
        & table{
          width: 100%;
          height: 100%;
        }

        & tr{
          & td,
          & th{
            padding: 5px 10px;
            width: 50%;
            text-align: center;
          }
        }
      }
    }
   
  }
}
