@import './variables';

.profile-page{
    height: auto;
    min-height: 100%;
     
    & .header{
        margin-bottom: 30px;
        @media (min-width: 500px) {
           height: 100px;

           .header-text{
               font-size: 2.5rem;
           } 
           .header-logo{
               width: 95px;
               height: 95px;
           }
        }
    }

    & main{
        max-width: 800px;
        margin: auto;
        padding: 0 20px;
        height: auto;
    }

    & .profile{
        padding: 10px;
        border-radius: 5px;
        border: 2px solid var(--color3);
        margin-bottom: 30px;
        & > .row > *{
            display: block;
             color: var(--color3);
             margin: 5px;
             width: calc(100% - 10px);

             @media (min-width: 700px){
                display: inline-block;
                vertical-align: middle;
             }
        }

        & .row{
          margin-bottom: 15px;
        }
         
        & .field{
            padding: 15px 10px;
            font-weight: bold;
            @media (min-width: 700px){
                width: 200px;
            }
        }
        & .value{
            padding: 15px 10px;
            border: 2px solid transparent;
            border-bottom: 2px dashed var(--color3);
            overflow: auto;
            @media (min-width: 700px){
                width: calc(100% - 200px - 20px)
            }
        }
        & input {
            color: var(--color2) !important;
            background: var(--color3) !important;
            
            &:disabled{
                background: rgb(238, 238, 238) !important;
                color: gray !important;
            }
        }
    }

    & .btn-group{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        & > *{
            margin-bottom: 10px;
        }
        & button{
            margin: 5px 5px;
        }
    }
   
}



